[defaults]
inventory = inventory.ini
roles_path = .ansible/roles
collections_path = .ansible/collections
local_tmp = .ansible/tmp
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = True
